img{border:solid;color:white; width:350px;height:350px; float: right;}
body{background-color:black;} 
h1{color:white; text-align: center;}
h2{color:white} 
p{color:white;}
pre{color:white;}
#mais{display: none;}